.wrapper {
  margin-left: 80px;
  padding: 0;
  @media (max-width: 991.98px) {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
  }
}

.navItem {
  display: inline-block;
  margin-right: 50px;
  list-style: none;

  &Link {
    text-decoration: none;
    color: #818181;
    font-size: 0.8em;

    &Active {
      font-weight: 700;
    }
  }
}
